
<div style="border-top: 1px solid #ddd; margin-top: 20px; padding-top: 20px;">
    <h2>Contact Information</h2>
    <ul>
        <li>Email: <a href="{{ page.email.url }}">{{ page.email.text }}</a></li>
        <li>Location: <a href="{{ page.homepage.url }}">{{ page.homepage.text }}</a></li>
        <li>Country Code: <a href="{{ page.country.url }}">{{ page.country.text }}</a></li>
        <li>GitHub: <a href="{{ page.github.url }}">{{ page.github.text }}</a></li>
        <li>LinkedIn: <a href="{{ page.linkedin.url }}">{{ page.linkedin.text }}</a></li>
        <li>Twitter: <a href="{{ page.twitter.url }}">{{ page.twitter.text }}</a></li>
        <li>Phone: <a href="{{ page.phone.url }}">{{ page.phone.text }}</a></li>
    </ul>
</div>
